.profile-container {
  width: 50vw;
  min-width: 360px;
  height: 60vh;
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px auto 0 auto;
}
.profile-header {
  width: 100%;
  height: 100px;
  background-color: #000;
  position: relative;
  display: flex;
}
.profile-image-container {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  top: 20px;
  left: 20px;
}
.profile-image-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #fff;
}
.user-profile-image {
  width: 120px;
  height: 120px;
}
.profile-username {
  position: relative;
  top: 25px;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
}
.profile-sub-header {
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
}

/* ----------- IMAGE UPLOAD  */
.change-image-container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 120px;
  left: 150px;
  z-index: 10;
}
.change-image-container img {
  width: 240px;
  height: 240px;
  margin-top: 10px;
}
/* ----------- ABOUT SECTION  */
.profile-about-main-container {
  width: 40vw;
  margin: 0 auto;
  position: relative;
}
.profile-about-main-container h5 {
  text-align: left;
  margin: 40px 0 5px 0;
}
.profile-about-text-container {
  width: 40vw;
  height: 100px;
  background-color: #f8f9fa;
  margin: 0 auto;
  padding-top: 16px;
  text-align: left;
  position: relative;
}
.profile-about-text-container p {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 0.9rem;
}
.profile-about-text-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #000;
}
.change-about-container {
  width: 40vw;
  height: 117px;
  position: absolute;
  top: 21px;
  background-color: #fff;
}
.change-about-container form {
  width: 40vw;
  height: 100%;
  text-align: right;
}
.change-about-textarea {
  width: 99%;
  height: 70%;
}
.change-about-container button {
  margin: 0;
  padding: 4px 8px;
  font-size: 0.7rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.change-about-container button:hover {
  background-color: #000;
  color: #fff;
}
